@import "_normalize.scss";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

$theme-color: #4fbc35;
$accent-color: #eee;
$text-color: #222;
$game-colors: (
  red: #dd0b0b,
  blue: blue,
  yellow: yellow,
  gold: gold,
  silver: silver,
  crystal: blue,
  ruby: red,
  sapphire: blue,
  leafgreen: green,
  firered: red,
  emerald: green,
  diamond: blue,
  pearl: pink,
  platinum: grey,
  heartgold: gold,
  soulsilver: silver,
  black: black,
  white: white,
  black2: black,
  white2: white,
  x: red,
  y: blue,
  omegaruby: red,
  alphasapphire: blue
);
/* Global */
body {
  border-top: .5rem solid $theme-color;
  font-family: "Roboto", sans-serif;
  padding: 0vh 10vw;
}

h1 {
  background: $theme-color;
  color: $accent-color;
  font-size: 2.5rem;
  font-weight: 300;
  padding: .25rem;
  text-align: center;
  text-transform: lowercase;
}

a {
  border-bottom: 1px solid $theme-color;
  color: $theme-color;
  text-decoration: none;
  &:hover {
    border-bottom: 1px solid darken($theme-color, 10%);
    color: darken($theme-color, 10%);
  }
}

label {
  cursor: pointer;
}

/* Heading */
.nuzleaf-icon {
  
  height: 3rem;
  
  padding: .25rem;
  position: relative;
  top: .5rem;
}

/* Generator Form */
.nuzlocke-container {
  margin-top: 1.5rem;
}

input[type=range] {
  -webkit-appearance: none; 
  width: 50%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

::-webkit-slider-runnable-track {
  background: #e52525;
  height: .25rem;
}
::-webkit-slider-thumb {
  -webkit-appearance: none;
  
  background: black;
  
  border: 1px solid #bbb;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  
  height: 1.25rem;
  margin-top: -.5rem;
  width: 1.25rem;
  
}

.difficulty-guide {
  width: 50%;
  span {
    display: inline-block;
    margin-left: .25rem;
    width: 32%;
    &:nth-of-type(2) {
      text-align: center;
    }
    &:nth-of-type(3) {
      text-align: right;
    }
  }
}


input[type="checkbox"] {
  margin-right: .2rem;

}

.gen-set {
  padding: 0;
}
.gen-set label {
  display: inline-block;
  padding: .25rem;
  width: 10rem;
}

@each $game, $color in $game-colors {
    .#{$game}-label {
      background: $color;
    }
}

.btn-generate {
  border: 0 solid white;
  background: $theme-color;
  color: $accent-color;
  display: block;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: .25rem 1rem;
  position: relative;
}


/* Ruleset */
.ruleset {
  font-size: 1.25rem;
  list-style-position: inside;
  margin-left: 10%;
  padding: 0;
  width: 80%;
  li {
    background: #ddd;
    padding: .25rem;
    padding-left: 1rem;
  }
  li:nth-of-type(2n) {
    background: #eee;
  }
}

.difficulty-level-post {
  background: #ededed;
  display: inline-block;
  padding: .25rem;
  text-align: center;
  width: 50%;
  
}
.version-chosen-post {
  @extend .difficulty-level-post;
  background: #dedede;
}


/* Footer & Suggestion Form */
.suggestion {
  font-size: 1.1rem;
  text-align: center;
}

footer {
  background: darken($theme-color, 15%);
  bottom: 0;
  color: $accent-color;
  left: 0;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  width: 100%;
}