{
    "parser": "typescript",
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "es5",
    "semi": true,
    "requirePragma": false,
    "tabWidth": 2,
    "jsxBracketSameLine": true,
    "arrowParens": "always"
}