.editor
  border: 1px solid #eee
  height: 100vh
  overflow-y: scroll
  padding: .25rem
  width: 90%
  &:hover
    box-shadow: 0 0 4px #eee

.game-editor, .trainer-editor, .pokemon-editor, .style-editor
  padding: .3rem;

.style-editor
  padding-bottom: 1.5rem;

.trainer-info-field
  align-items: center
  border-bottom: 1px solid #ddd
  border-top: 1px solid #ddd
  display: flex
  justify-content: space-between
  margin: .25rem
  input
    border: 0 solid transparent
    border-left: 1px solid #eee
    border-radius: 2px
    padding: .25rem;

.tab
  background: url('../../assets/img/team-box.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: calc(156px * 1.5);
  width: calc(168px * 1.5);
  .tab-title
    flex-basis: 218px;
    flex-grow: 999;
    font-size: 1.75rem;
  .pokemon-icon img,
  .pokemon-icon
    cursor: pointer;
    min-height: 40px;
    max-height: 42px;
    max-width: 42px;
    border: 1px solid transparent;
    transition: 500ms all;
  .pokemon-icon.selected
    border: 1px white dashed;
    transition: 500ms all;
.pokemon-tab
  display: flex;
  justify-content: center;

.current-pokemon
  border: 1px solid #ddd;
  border-radius: .25rem;
  margin: .25rem;
  padding: .25rem;

.current-pokemon-header
  align-items: center;
  display: flex;
  justify-content: flex-start;

.current-pokemon-image
  padding: .25rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 3rem;

.current-pokemon-input-wrapper
  display: inline-flex;
  flex-flow: column;
  padding: .25rem;
  width: 11rem;
  label
    font-size: 10px;
  input
    border: 1px solid #eee
    padding: .25rem;

.current-pokemon-gender
  width: 6rem;

.current-pokemon-status
  width: 5.5rem;

.current-pokemon-moves
  width: 25rem;

.delete-pokemon-button
  color: red;
  cursor: pointer;
  margin-left: auto;

.status-wrapper
  display: inline-flex;
  flex-flow: column;
  padding: .25rem;
  width: 30%;
  vertical-align: top;
  span
    font-size: 10px;
    width: 100%;
 

// .current-pokemon-more
//   align-self: center;
//   border: 1px solid #ddd;
//   background: #eee;
//   border-radius: .25rem;
//   padding: .15rem;