.editor
  border: 1px solid #eee
  height: 100vh
  overflow-y: scroll
  padding: .25rem
  width: 33%
  &:hover
    box-shadow: 0 0 4px #eee

.trainer-info-field
  align-items: center
  border-bottom: 1px solid #ddd
  border-top: 1px solid #ddd
  display: flex
  justify-content: space-between
  margin: .25rem
  input
    border: 0 solid transparent
    border-left: 1px solid #eee
    border-radius: 2px
    padding: .25rem;