.editor
  border: 1px solid #eee
  height: 100vh
  overflow-y: scroll
  padding: .25rem
  width: 33%
  &:hover
    box-shadow: 0 0 4px #eee

.trainer-info-field
  align-items: center
  border-bottom: 1px solid #ddd
  border-top: 1px solid #ddd
  display: flex
  justify-content: space-between
  margin: .25rem
  input
    border: 0 solid transparent
    border-left: 1px solid #eee
    border-radius: 2px
    padding: .25rem;

.tab
  background: url('../../assets/img/team-box.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: calc(156px * 1.5);
  width: calc(168px * 1.5);
  .tab-title
    flex-basis: 218px;
    flex-grow: 999;
  .pokemon-icon
    cursor: pointer;
    margin: 1px;
    min-height: 40px;
.pokemon-tab
  display: flex;
  justify-content: center;