.autocomplete {
    position: relative;
}
.autocomplete label {
    padding-left: 0.25rem;
}
.autocomplete-items {
    list-style-type: none;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    max-height: 200px;
    position: absolute;
    margin-top: 0;
    padding: 0;
    overflow: auto;
    z-index: 11;
    background: #ffffff;
    color: #111;
    outline: 1px solid #ccc;
}
.autocomplete-items li {
    cursor: pointer;
    padding: 3px;
}
.autocomplete-items li:hover {
    background: rgba(228, 228, 228, 0.267);
}
.autocomplete-selected {
    color: rgb(37, 37, 223);
    background: lightblue;
}

.bp3-dark .autocomplete-items {
    background: #222;
    color: #eee;
    outline: 1px solid #111;
}

.bp3-dark .autocomplete-items li:hover,
.bp3-dark .autocomplete-selected {
    background: rgba(238,238,238,0.1);
}

.bp3-dark .autocomplete-selected {
    color: rgb(37, 211, 223);
}