@import 'partials/_normalize'
@import 'partials/_variables'

body
  font-family: 'Arial'

a
  text-decoration: none !important

.app
  display: flex
  height: 100vh
  min-width: 100%
  overflow-y: hidden

.opacity-medium
  opacity: 0.5