@import url("sidebar.css");
@import url("output.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica';
}

.app {
  display: flex;
  height: 100%;
  width: 100%;
}