.release-notes-wrapper
    .release-notes
        background: #fafafa;
        margin: .5rem;
        padding: 1rem;
    h1, h2, h3, h4
        color: #333 !important;
    h1
        font-size: 1.5rem !important;
    h2
        margin-top: .5rem;
        font-size: 1.2rem !important;
    p
        line-height: 1.4;
        margin-top: .5rem;
    p img
        max-height: 15rem;
        margin: 0 auto;
        max-width: 100%;

.release-dialog
    width: 620px !important;

.pt-tag-input .pt-tag.pt-tag-removable
    color: unset;