root-size = 16px;

flex(justify = flex-start, align = center, direction = row)
  align-items: align;
  display: flex;
  flex-direction: direction;
  justify-content: justify;

zarray = {
  'header': 9,
  'toastContainer': 10,
  'overlay': 20,
  'statelessOverlay': 21
}

zindex(elem)
  z-index: zarray[elem]

$debug-style
  outline: 1px solid tomato;

$no-padding
  padding: 0;

$round-corners
  border-radius: .25rem;

$transition-s
  transition: 250ms all;

$transition-m
  transition: 500ms all;

$transition-l
  transition: 1s all;