@font-face {
    font-family: "pokemon_gbregular";
    src: url("pokemon_gb-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "pokemon_font";
    src: url("pokemon-dp-font.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
